{% extends "recipes/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ recipe.name }}</h1>
        </div>
        <div class="col-xs-6">
            <p>{{ recipe.description }}</p>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                <a class="btn btn-primary" href="{% url 'duplicate_recipe' recipe.id %}">Duplicate</a>
            </p>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <tr>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for ingredient in ingredients %}
                <tr>
                    {% for item in ingredient %}
                    <td>{{ item }}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
